 upstream <%= "#{@hostname}" %> {
     server localhost:8080;
     keepalive 8;
 }

 # nginx server instance
 server {
     listen 0.0.0.0:80;
     server_name <%= "#{@hostname} #{@fqdn}" %>;

     access_log /var/log/nginx/<%= "#{@hostname}" %>.log;
     error_log /var/log/nginx/<%= "#{@hostname}" %>_error.log;

     location / {
         proxy_set_header X-Real-IP $remote_addr;
         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
         proxy_set_header Host $http_host;
         proxy_set_header X-NginX-Proxy true;

         # handle websocket traffic
         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection "upgrade";

         proxy_pass http://<%= "#{@fqdn}" %>/;
         proxy_redirect off;
     }
 }

